body {
    background-color: #FFFFFF;
}

.lista1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #000;
    background: #FFFFFF;
    font-family: GT-America;


}

.icons {
    list-style-type: none;
    background: none;
    width: 400px;
    height: 10;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons img {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 10px;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.news {
    text-align: center;
}

.holiday {
    padding-left: 10px;
    text-align: center;
    justify-content: center;
}

.gene-1 {
    padding-left: 10px;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    display: flex;
    text-align: center;

}

.p1 {
    align-items: center;
    text-align: center;
    width: 50%;
    height: auto;
    margin: 0% auto;
    font-family: 'Helvetica Neue';
    font-size: medium;
}

.gene-2 {
    padding-left: 10px;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    display: flex;
    text-align: center;

}

img {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    height: auto;
}

.galeria-uno {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.img-dos-galeria-uno {
    margin-left: 3px;
    margin-right: 3px;
}

.img-cuatro-galeria-uno {
    margin-left: 3px;
    margin-right: 3px;
}

.galeria-dos {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.img-dos-galeria-dos {
    margin-left: 3px;
    margin-right: 3px;
}

.img-tres-galeria-dos {
    margin-left: 3px;
    margin-right: 3px;
}

.img-cuatro-galeria-dos {
    margin-left: 3px;
    margin-right: 3px;
}

.galeria-tres {
    width: 2000px;
    justify-content: center;
    display: flex;
    margin-right: 1 px;

}

.chocolate {
    text-align: center;
}

.p2 {
    align-items: center;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: medium;
    height: auto;
}

.gene-3 {
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    display: flex;
    text-align: center;
}

.video1 {
    width: 500px;
    justify-content: center;
    display: flex;
    margin: 0% auto;

}

.titulo-galleria {
    text-align: center;
    font-family: Roboto;
}

.p3 {
    width: 50%;
    margin: 0% auto;
    height: auto;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: medium;
}

.discover {
    text-align: center;

}

.lista-img {
    background-color: #000;
    border-top: 10px;
    border-right: 5px;
    border-bottom: 50px;
    border-left: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    width: 2000px;
    height: 500px;
    display: flex;
    justify-content: center;

}

.pradanews {
    width: 500px;
    height: 5px;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 60px;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-family: Helvetica;

}

.awinter {
    width: 5000px;
    height: 0.5px;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 60px;
    text-align: center;
    color: #FFFFFF;
    font-family: Helvetica;
}

.Paradigme {
    width: 5000px;
    height: 20px;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 60px;
    text-align: center;
    color: #FFFFFF;

}

.pradawomen {
    width: 6000px;
    height: 20px;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 60px;
    text-align: center;
    color: #FFFFFF;
}

.renylon {
    width: 4000px;
    height: 20px;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 60px;
    text-align: center;
    color: #FFFFFF;
}

.caffe {
    width: 5000px;
    height: 20px;
    padding-top: 100px;
    padding-right: 60px;
    padding-bottom: 5px;
    padding-left: 60px;
    text-align: center;
    color: #FFFFFF;
}


.footer {
    justify-content: center;
    display: flex;
    font-size: 5px;
    font-family: sans-serif;
    padding: 10px;
    padding-bottom: 10px;
    font-size: medium;
}

.input {
    width: 20px;
    height: 5px;
    padding: 14, 0, 6, 0;
    border: 0, 0, 0, 0;
    margin: 0, 0, 0, 0;


}

.p4 {
    padding-left: 30px;
    text-align: center;
    font-size: 10px;
    font-size: medium;
}