ul{
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
 img{
    text-align: center;
    list-style-type: none;
    justify-content: space-around;
    width: 400px;
}
p{
    text-align: center;
}
